* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
  width:100%;
}

.AnnouncementBar{
	background:#bf9578;
	height : 50px;
}

.AnnouncementBar p{
text-align : center;
padding:19px 0px;
font-size:12px;
color:#f8f0f0;
letter-spacing:2px;
}

.HeaderMenu{
height:125px;
background:white;
opacity: 0.0;
z-index:10;
transition: all 0.5s;
}

.HeaderMenu:hover{
opacity: 1.0;
z-index:10;
}

.slideshow-container{
margin-top:-125px;
}

.mySlides img {
z-index:-1;
position:absolute;
width: 100%;
}
