* {
  box-sizing: border-box;
}

html,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
  
}

/*------------------------------Mohamad Isyra R-----------------*/

/*---------------------------announcement bar-----------------*/
.AnnouncementBar{
	background:#bf9578;
	height : 50px;	
}

.AnnouncementBar p{
text-align : center;
padding:19px 0px;
font-size:12px;
color:#f8f0f0;
letter-spacing:2px;
}

/*-----------------------------------header menu----------------*/
.Header{
height:125px;
background:transparent;
transition: all 0.5s;
border-bottom:0.1px solid #dee7ec;
color:white;
}

.Header:hover{
transition: all 0.5s;
background:white;
color:black;
}

.HorizontalMenu li{
display:inline-block;
padding:20px 20px;
opacity:0.8;
letter-spacing:2px;
}

.HorizontalMenu li:hover{
border-bottom:0.5px solid #111;
transition: all 0.5s;
cursor: pointer;
}

.Header span {
  display:none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background:white;
  color:black;
}

/*------------------------------------------slideshow-container----------*/
.slideshow-container{
margin-top:-125px;
}

.img1{
	content:url("img/img1.png");
	width:100%;
	z-index:-1;
	position:absolute;
}

.img2{
	content:url("img/img2.png");
	width:100%;
	z-index:-1;
	position:absolute;
}

.img3{
	content:url("img/img3.png");
	width:100%;
	z-index:-1;
	position:absolute;
}
 
 
 /* ---------------------Product Best Seller------------------------ */
  /*
 .bestseller-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin-top:700px;
  margin-bottom:100px;
}
 
 .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}
 
.bestseller {
  float: left;
  width: 25%;
}

.heading {
  padding-bottom: 50px;
  color: #5f5d60;
}
  */
/*--------------------------------------Mohamad Isyra R-----------------*/

/*---------------------------------------------Chintia Wulfa Anugra------------------------------------------------*/
 .newarrival-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin-top:700px;
  margin-bottom:100px;
}
 
 .container-newarrival {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}
 
.newarrival img{
  float: left;
  width: 25%;
}

.heading {
  padding-bottom: 50px;
  color: #5f5d60;
  letter-spacing: 2px;
}
/*.slide1 {
  float:left;
  width: 25%; 
  display: block;  */
  
}
.slide1 img:hover{
  cursor: pointer;
  transition: all 0.5s;
}
/*.slide1 img {
  width: 290px;*/
}
/*.slide2 {
  float: left;
  width: 25%;    
  display: block;
 padding: 0px 150px;
}*/

/*.slide2 img {
  width: 290px;*/
}
.slide2 img:hover{
  cursor: pointer;
  transition: all 0.5s;
  
}

/*.slide3 {
  float:left;
  width: 25%;    
  display: block;
  padding: 0px 250px;*/
  
}
.slide3 img:hover{
  cursor: pointer;
  transition: all 0.5s;
  
}
/*.slide3 img {
  width: 290px;*/
}

.slide4 img:hover{
  cursor: pointer;
  transition: all 0.5s;
}

.btn {
 box-sizing:content-box;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: transparent;
border: 1px solid #D2B48C;
border-radius: 0.6em;
color: #D2B48C;
cursor: pointer;
font-family: "Century Gothic", sans-serif;
align-self: center;
font-size: 1rem;
font-weight: 200;
line-height: 1;
margin: 20px;
padding: 1.2em 2.8em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 200;
letter-spacing:2px;
}
.btn:hover, .btn:focus {
color: #fff;
outline: 0;
}

.first {
transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
box-shadow: 0 0 40px 40px #e4bab5 inset;
}

/*---------------------------------------------Chintia Wulfa Anugra------------------------------------------------*/
